@using Epam.FinalProject.Forum.Models;
@{
    Page.Title = "Topic";
    var topicId = Request.QueryString["topicId"].AsInt();
    var sectionId = Request.QueryString["sectionId"].AsInt();
    Layout = "~/_Layout.cshtml";
    var messages = ForumModel.GetTopicMessages(topicId);
    if (IsPost)
    {
        Validation.RequireField("comment", "message is required");
        var comment = Request["comment"];
        var user = UserModel.currentUser;
        if (user == null)
        {
            user = UserModel.GetAllUsers().FirstOrDefault(x => x.Name == User.Identity.Name);
        }
        if (Validation.IsValid())
        {
            ForumModel.AddMessage(topicId, user.UserId, DateTime.Now, comment);
            Response.Redirect("~/Pages/Topic.cshtml?topicId=" + topicId + "&sectionId=" + sectionId);
        }
    }
}
<h4 class="title">@ForumModel.TopicByIdAndSectionId(sectionId, topicId).Title</h4>
@if (messages.Count() == 0)
{
    <p class="title">There are no messages yet</p>
}
<div class="flex-container-message">
    @foreach (var m in messages)
    {
        <div class="message-item">
            <div class="profile">
                <img src="data:image/jpg image/png;base64,@UserModel.GetUserById(m.UserId).Avatar" class="avatar">
                <p>@UserModel.GetUserById(m.UserId).Name</p>
            </div>
            <div class="message">
                <p>@m.Text</p>
            </div>
        </div>
    }
</div>
<div class="modal-dialog addtopic" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        </div>
        <div class="modal-body">
            <form method="post" action="~/Pages/Topic.cshtml?topicId=@topicId&sectionId=@sectionId" enctype="multipart/form-data" asp-controller="UploadFiles">
                <div class="form-group">
                    <label for="comment" class="col-form-label">Comment:</label>
                    <textarea class="form-control" rows="8" cols="45" id="comment" name="comment" @Validation.For("comment")></textarea>
                    <p>@Html.ValidationMessage("comment")</p>
                </div>
                @if (!User.Identity.IsAuthenticated)
                {
                    <p>Login to post a comment</p>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <button class="btn btn-dark">Send message</button>
                }
            </form>
        </div>
    </div>
</div>
