@using Epam.FinalProject.Forum.Models;
@{
    Page.Title = "Topic";
    var topicId = Request.QueryString["topicId"].AsInt();
    var topicId2 = Request.QueryString["topicId2"].AsInt();
    var sectionId = Request.QueryString["sectionId"].AsInt();
    var sectionId2 = Request.QueryString["sectionId"].AsInt();
    Layout = "~/_Layout.cshtml";
    var messages = ForumModel.GetTopicMessages(topicId);
    var user = UserModel.currentUser;
    if (user == null)
    {
        user = UserModel.GetAllUsers().FirstOrDefault(x => x.Name == User.Identity.Name);
    }
    if (IsPost)
    {
        if (sectionId == 0 && topicId == 0)
        {
            sectionId = sectionId2;
            topicId = topicId2;
        }
        Validation.RequireField("comment", "message is required");
        var comment = Request["comment"];
        var userId = Request["userId"].AsInt();

        if (Validation.IsValid())
        {
            ForumModel.AddMessage(topicId, userId, DateTime.Now, comment);
        }
    }
}
<div>
    <h4>@ForumModel.TopicByIdAndSectionId(sectionId, topicId).Title</h4>
    @foreach (var m in messages)
    {
        <p>@UserModel.GetUserById(m.UserId).Name :</p>
        <p>@m.Text</p>
    }
</div>
<div class="modal-dialog addtopic" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        </div>
        <div class="modal-body">
            <form method="post" action="~/Pages/Topic.cshtml?topicId2=@topicId&sectionId2=@sectionId">
                <div class="form-group">
                    <input type="hidden" name="userId" value="@user.UserId" />
                    <label for="comment" class="col-form-label">Comment:</label>
                    <textarea class="form-control" rows="8" cols="45" id="comment" name="comment" @Validation.For("comment")></textarea>
                    <p>@Html.ValidationMessage("comment")</p>
                </div>
                <button class="btn btn-dark">Send message</button>
            </form>
        </div>
    </div>
</div>
