<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@Page.Title</title>
    <link href="~/Content/styles.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        .navbar {
            border-radius: 0px;
            margin-bottom: 0px;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <header>
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <img src="~/Images/brand2.png" class="brand-icon">
                    </div>
                    <div class="navbar-header">
                        <a class="navbar-brand" href="~/Pages/index.cshtml">IT Forum</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="~/Pages/index.cshtml">Home</a></li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li><a href="~/Pages/MyProfile.cshtml">My profile</a></li>
                        }
                        @if (User.Identity.IsAuthenticated && @Roles.Provider.IsUserInRole(User.Identity.Name, "Admin"))
                        {
                            <li><a href="~/Pages/Users.cshtml">Users</a></li>
                        }
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li><a href="~/Pages/Authorization/SignUp.cshtml"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                            <li><a href="~/Pages/Authorization/LogIn.cshtml"><span class="glyphicon glyphicon-log-in"></span> Sign in</a></li>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li><a href="#"><span class="glyphicon glyphicon-user"></span> @User.Identity.Name</a></li>
                            <li><a href="~/Pages/Authorization/SignOut.cshtml"><span class="glyphicon glyphicon-log-in"></span> Sign Out</a></li>
                        }
                    </ul>
                </div>
            </nav>
        </header>
        <main class="main">
            <div class="wrapper2">
                @RenderBody()
            </div>
        </main>
        <footer class="footer">
            <div class="wrapper2">
                <div class="footer-column">
                    <p>&copy; @DateTime.Now.Year - EPAM Forum</p>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>

